*{
    margin:0;
    padding: 0;
}
a{
    text-decoration:none;
    color: #0067ce;
}
#result{
    width:100%;
    height:auto;
}
#result table {
    width: 100%;
    border-collapse:collapse;
}
#head{
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
}
#head table{

    margin-top: -15px;
    height: 30px;
}
#head table thead{
    height: 30px;
    color: #009688;
}


#result tr{
    border-bottom: solid 1px #ddd;
    position: relative;
}
#result table tr td{
    height: 50px;
    padding:4px 2px;
}
#result img{
    width: 18px;
    height: 18px;
    position: relative;
    left: 20px;
}
#bod{
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 1;
}
#bod tr{
    border-bottom: solid 1px #ddd;
    position: relative;
}
#bod table tr td{
    height: 50px;
    padding:4px 2px;
}
#bod table .b1{
    width: 80px;
}
#bod table .b2{
    width: 33%;
}
#bod table .b3{
    width: 33%;
}
#result table .b2{
    padding-left: 20px;
}
#bod img{
    width: 18px;
    height: 18px;
    position: relative;
    left: 20px;
}
#blackBg{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height:100%;
     background: rgba(0,0,0,0.6);
     z-index: 5;
 }

#message{
    margin: 35% auto;
    width: 85%;
    height: 380px;
    background: #ffffff;
    border-radius:5px;
}
#close{
    float: right;
    width:10%;
    position: relative;
    top: -40px;
}

#content table{
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.one{
    font-family: 微软雅黑;
    width: 35%;
    color: #009688;
    font-weight: 500;
    font-size: 18px;
}

#content table tr td{
    height:35px;
    padding-left: 13px;
    font-size: 18px;
    font-family: 宋体;
}

#alert{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.2);
    z-index: 5;
}
#almessage{
    margin: 60% auto;
    width: 66%;
    height: 110px;
    background: #ffffff;
    border-radius:10px;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
    font-family: 微软雅黑;
}
#almessage hr{
    margin: auto;
    width:98%;
}
#almessage span{
    font-size: 14px;
    position: relative;
    top: -10px;
    color: #0067ce;
}
#search{
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    width:80% ;
    border: solid 1px #dddddd;
    border-radius: 8px;
    float:left;
    position: absolute;
}
#weiting{
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #009688;
    width: 10%;
    height: 30px;
    float: right;

}
#weiting a{
    color: #009688;
}
#search input{
    position: relative;
    width: 80%;
    height: 20px;
    border: 0;
    outline:none;
    padding-left: 10px;
    line-height: 25px;

}
#search img{
  position: relative;
    top:6px;
}
#weitingdengji{
    margin: 20px auto;
    width: 200px;
    text-align: center;
}
#weitingdengji :first-child{
    margin-right: 20px;
}
#weitingdengji a{
    display: block;
    float: left;
    border-radius: 5px;
    background: #009688;
    padding: 5px;
    width: 80px;
    height: 22px;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
}